<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/0e43b3ea77.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>WeatherApp</title>
</head>
<body>


    <!-- HEADER -->
    <nav class=" header navbar navbar-light bg-dark">
        Weather App
        <a class="logout" href="./login.html">Deconnexion</a>
    </nav> 


    <!-- GRID -->
    <div id="grid-container">
        <div id="row-1">
            <form action="/add-city" method="POST" id="search-city-above" class="search-city">
                <input class="search-input" name="name" placeholder="Enter City Name ..." />
                <button class="search-button">Add</button>
            </form>
            <div id="map-container">
                <img id="map-img" src="images/map.png" />
            </div>
        </div>
        <div id="row-2">
            <form action="/add-city" method="POST" id="search-city-below" class="search-city">
                <input class="search-input" name="name" placeholder="Enter City Name ..." />
                <button class="search-button">Add</button>
            </form>
            <div id="update-cities">
                Update Cities
                <i class="fa-solid fa-arrows-rotate"></i>
            </div>
            <div id="city-results">
                <% if (cityList.length === 0) { %>
                    <div id="no-city" class="city-result">
                        <em>No cities found</em>
                    </div>
                <% } else { for (let city of cityList) { %>
                    <div class="city-result">
                        <div><%= city.nom %></div>
                        <div class="temperature">
                            <%= city.temps.desc %>
                            <img src="images/<%= city.temps.img %>" />
                            <span class="badge rounded-pill bg-warning text-dark"><%= city.temps.jour %>°c</span>
                            <span class="badge rounded-pill bg-secondary"><%= city.temps.nuit %>°c</span>
                        </div>
                        <a href="/delete-city?remove=<%= cityList.indexOf(city) %>"><i class="fa-regular fa-circle-xmark"></i></a>
                    </div>
                <% } } %>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>